{# atelier/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ateliers</h1>
    <ul>
        {% for atelier in ateliers %}
            <li>
                <a href="{{ path('app_atelier_show', {'id': atelier.id}) }}">
                    Atelier #{{ atelier.id }} - Start Date: {{ atelier.debut|date('Y-m-d H:i') }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
