{% extends 'base.html.twig' %}

{% block title %}Atelier{% endblock %}

{% block body %}
    <h1>Atelier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ atelier.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ atelier.debut ? atelier.debut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Salle</th>
                <td>{{ salle.nom }}</td>
            </tr>
            <tr>
                <th>Secteur</th>
                <td>{{ secteur.nom }}</td>
            </tr>
        </tbody>
    </table>


    <a href="/">back to list</a>

{% endblock %}
