{% extends 'base.html.twig' %}

{% block title %}New Test1{% endblock %}

{% block body %}
    <h1>Create new Test1</h1>

    {{ include('test1/_form.html.twig') }}

    <a href="{{ path('app_test1_index') }}">back to list</a>
{% endblock %}
