<nav
  style="
    background-color: skyblue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  "
>
  <ul style="display: flex; flex-direction: row; justify-content: space-around">
    <li><a href="/">Accueil</a></li>
    <li><a href="/atelier">Atelier</a></li>
    <li><a href="/inscription">Inscription</a></li>
    <li><a href="/activite">Activite</a></li>
    <li><a href="/edition">Edition</a></li>
    <li><a href="/competence">Competence</a></li>
    <li><a href="/ecole">Ecole</a></li>
    <li><a href="/metier">Metiers</a></li>
    <li><a href="/secteur">Secteurs</a></li>
    <li><a href="/sponsor">Sponsors</a></li>
    <li><a href="/etudiant">Etudiants</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/connexion">Login</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
</nav>
